<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,279},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>deng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,195},{106,64}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,64}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>deng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,165},{42,60}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>deng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,250},{106,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{106,60}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>forge_guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{160,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,62}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>forge_guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,66},{158,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>forge_guang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{158,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>forge_guang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{160,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,62}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,278},{24,29}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{24,29}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,227},{20,41}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{20,41}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>guang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,198},{26,51}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{26,51}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>guang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,132},{22,33}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{22,33}}</string>
                <key>sourceSize</key>
                <string>{66,57}</string>
            </dict>
            <key>guangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hailang(1)1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,90},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,31}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>hailang(1)2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,16},{72,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,29}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>hailang(1)3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,303},{70,23}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,23}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>hailang(1)4.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{60,17}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{60,17}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>hailang(2)1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,358},{62,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,105}}</string>
                <key>sourceSize</key>
                <string>{62,107}</string>
            </dict>
            <key>hailang(2)2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,250},{58,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,103}}</string>
                <key>sourceSize</key>
                <string>{62,107}</string>
            </dict>
            <key>hailang(2)3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,355},{48,99}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{48,99}}</string>
                <key>sourceSize</key>
                <string>{62,107}</string>
            </dict>
            <key>hailang(2)4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,474},{36,87}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{36,87}}</string>
                <key>sourceSize</key>
                <string>{62,107}</string>
            </dict>
            <key>haiou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,156},{78,39}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{78,39}}</string>
                <key>sourceSize</key>
                <string>{86,67}</string>
            </dict>
            <key>haiou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,303},{74,39}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{74,39}}</string>
                <key>sourceSize</key>
                <string>{86,67}</string>
            </dict>
            <key>haiou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,465},{54,45}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{54,45}}</string>
                <key>sourceSize</key>
                <string>{86,67}</string>
            </dict>
            <key>haiou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,161},{56,37}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,30},{56,37}}</string>
                <key>sourceSize</key>
                <string>{86,67}</string>
            </dict>
            <key>hongguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,136},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>humian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,362},{45,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,110}}</string>
                <key>sourceSize</key>
                <string>{45,110}</string>
            </dict>
            <key>humian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,250},{45,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,110}}</string>
                <key>sourceSize</key>
                <string>{45,110}</string>
            </dict>
            <key>humian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,379},{45,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,110}}</string>
                <key>sourceSize</key>
                <string>{45,110}</string>
            </dict>
            <key>humian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,382},{45,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,110}}</string>
                <key>sourceSize</key>
                <string>{45,110}</string>
            </dict>
            <key>huojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,12}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,12}}</string>
                <key>sourceSize</key>
                <string>{216,12}</string>
            </dict>
            <key>qizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,146},{47,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{47,29}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>qizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,248},{45,29}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{45,29}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>qizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,226},{45,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{45,29}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>qizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,249},{41,27}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{41,27}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>qizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,136},{43,27}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{43,27}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>qizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,219},{47,27}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{47,27}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>sail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>sail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>sail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,132},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>sail4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>shengyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,64},{43,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,17}}</string>
                <key>sourceSize</key>
                <string>{43,17}</string>
            </dict>
            <key>tuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,304},{23,36}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{23,36}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>tuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,257},{29,44}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{29,44}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>tuzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,166},{27,28}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{27,28}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>tuzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,136},{23,38}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,456},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_ani1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a3df0e0c6627eb169653f6e53bde27d$</string>
            <key>textureFileName</key>
            <string>home_ani1.png</string>
        </dict>
    </dict>
</plist>
